In [23]:
import pandas as pd
import numpy as np
#시각화
import matplotlib.pyplot as plt
#트레인 스플릿
from sklearn.model_selection import train_test_split
#알고리즘 불러오기
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score as acc_sc

# 사이킷런의 정확도, 정밀도, 재현율, 오차행렬을 계산하는 API 호출
from sklearn.metrics import accuracy_score, precision_score, recall_score, confusion_matrix

In [24]:
#데이터셋 불러오기
train = pd.read_csv('data/train.csv')
train.drop('id', inplace = True, axis=1)
test = pd.read_csv('data/test.csv')
test.drop('id', inplace = True, axis=1)
sample_submission = pd.read_csv('data/sample_submission.csv')

In [25]:
#정보 검색
print(main_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1253 entries, 0 to 1252
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              1253 non-null   int64
 1   Gender          1253 non-null   int32
 2   Lenght          1253 non-null   float64
 3   Diameter        1253 non-null   float64
 4   Height          1253 non-null   float64
 5   Whole Weight    1253 non-null   float64
 6   Shucked Weight  1253 non-null   float64
 7   Viscra Weight   1253 non-null   float64
 8   Shell Weight    1253 non-null   float64
 9   Target          1253 non-null   int64
dtypes: float64(7), int32(1), int64(2)
memory usage: 93.1 KB
None

In [4]:
main_df.select_dtypes(include='object')

     Gender
0         M
1         I
2         I
3         M
4         I
...     ...
1248      I
1249      I
1250      F
1251      F
1252      F

[1253 rows x 1 columns]

In [5]:
#개인값 검색
print('\n성별의 값의 분포:\n',main_df.Gender.value_counts())
#해당값은 숫자형으로 변경이 필요3.
print('\n나이의 값의 분포:\n',main_df.Target.value_counts())

성별의 값의 분포:
 M    469
I    404
F    380
Name: Gender, dtype: int64

나이의 값의 분포:
 10    202
9     200
8     174
11    141
7     107
6      88
12     79
13     62
14     42
5      37
15     26
16     21
4      14
17     13
18     12
20     11
19      8
3       5
21      5
23      3
22      2
29      1
Name: Target, dtype: int64

In [6]:
from sklearn.preprocessing import LabelEncoder

# label_encoding 객체 생성
le_encoding = LabelEncoder()
encoded = le_encoding.fit(main_df['Gender'])
main_df['Gender'] = encoded.transform(main_df['Gender'])

In [7]:
main_df['Gender']

0       2
1       1
2       1
3       2
4       1
       ..
1248    1
1249    1
1250    0
1251    0
1252    0
Name: Gender, Length: 1253, dtype: int32

In [8]:
X_train = main_df.drop(['Target'],axis=1)#features 정의
y_train = main_df['Target']

In [ ]:
plot_cols_list = train.columns[1:]
print(plot_cols_list)

train[plot_cols_list].hist(figsize=(14,7), grid = True, layout = (2,4), bins = 20)
plt.show()

In [9]:
#Test셋 불러오기
test_df = pd.read_csv('data/test.csv')
test_df.head(3)

from sklearn.preprocessing import LabelEncoder

# label_encoding 객체 생성
le_encoding = LabelEncoder()
encoded = le_encoding.fit(test_df['Gender'])
test_df['Gender'] = encoded.transform(test_df['Gender'])

X_test = test_df

In [10]:
print(X_test.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2924 entries, 0 to 2923
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              2924 non-null   int64
 1   Gender          2924 non-null   int32
 2   Lenght          2924 non-null   float64
 3   Diameter        2924 non-null   float64
 4   Height          2924 non-null   float64
 5   Whole Weight    2924 non-null   float64
 6   Shucked Weight  2924 non-null   float64
 7   Viscra Weight   2924 non-null   float64
 8   Shell Weight    2924 non-null   float64
dtypes: float64(7), int32(1), int64(1)
memory usage: 194.3 KB
None

In [11]:
print(X_train)
print(X_test)

        id  Gender  Lenght  Diameter  Height  Whole Weight  Shucked Weight  \
0        1       2   0.605     0.470   0.115        1.1140          0.3925
1        2       1   0.430     0.315   0.095        0.3780          0.1750
2        3       1   0.580     0.490   0.195        1.3165          0.5305
3        4       2   0.535     0.405   0.175        1.2705          0.5480
4        5       1   0.310     0.235   0.090        0.1270          0.0480
...    ...     ...     ...       ...     ...           ...             ...
1248  1249       1   0.190     0.145   0.040        0.0380          0.0165
1249  1250       1   0.395     0.310   0.085        0.3170          0.1530
1250  1251       0   0.525     0.410   0.115        0.7745          0.4160
1251  1252       0   0.445     0.335   0.110        0.4355          0.2025
1252  1253       0   0.750     0.550   0.195        1.8325          0.8300

      Viscra Weight  Shell Weight
0            0.2910        0.3100
1            0.0800        0.1045
2            0.2540        0.4100
3            0.3265        0.3370
4            0.0310        0.0400
...             ...           ...
1248         0.0065        0.0150
1249         0.0505        0.0935
1250         0.1630        0.1800
1251         0.1095        0.1195
1252         0.3660        0.4400

[1253 rows x 9 columns]
        id  Gender  Lenght  Diameter  Height  Whole Weight  Shucked Weight  \
0        1       0   0.595     0.470   0.155        1.1210          0.4515
1        2       2   0.580     0.450   0.150        0.9270          0.2760
2        3       1   0.260     0.205   0.070        0.0970          0.0415
3        4       2   0.590     0.460   0.130        1.1020          0.4550
4        5       0   0.595     0.465   0.140        1.1130          0.5175
...    ...     ...     ...       ...     ...           ...             ...
2919  2920       1   0.170     0.105   0.035        0.0340          0.0120
2920  2921       1   0.435     0.345   0.115        0.4180          0.2220
2921  2922       1   0.570     0.450   0.135        0.7940          0.3815
2922  2923       1   0.460     0.350   0.120        0.4885          0.1930
2923  2924       0   0.565     0.440   0.160        0.9150          0.3540

      Viscra Weight  Shell Weight
0            0.1780        0.1550
1            0.1815        0.3600
2            0.0190        0.0305
3            0.2055        0.3300
4            0.2440        0.3050
...             ...           ...
2919         0.0085        0.0050
2920         0.0735        0.1060
2921         0.1415        0.2450
2922         0.1050        0.1550
2923         0.1935        0.3200

[2924 rows x 9 columns]

In [12]:
dt_clf = DecisionTreeClassifier()
rf_clf = RandomForestClassifier()
lr_clf = LogisticRegression()


## 학습 fitting
# dt_clf
dt_clf.fit(X_train,y_train)
dt_pred = dt_clf.predict(X_test)


# rf_clf
rf_clf.fit(X_train,y_train)
rf_pred = rf_clf.predict(X_test)

# lr_clf
lr_clf.fit(X_train,y_train)
lr_pred = lr_clf.predict(X_test)
#정확도가 너무낮다

C:\ProgramData\Anaconda3\envs\bigdata0809\lib\site-packages\sklearn\linear_model\_logistic.py:818: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG,

In [13]:
submission = pd.read_csv('data/sample_submission.csv')
submission.head()

   id  Target
0   1       0
1   2       0
2   3       0
3   4       0
4   5       0

In [14]:
submission['Target'] = dt_pred
submission['Target2'] = dt_pred
submission['Target3'] = dt_pred

In [15]:
submission

        id  Target  Target2  Target3
0        1       9        9        9
1        2      13       13       13
2        3       5        5        5
3        4      11       11       11
4        5      12       12       12
...    ...     ...      ...      ...
2919  2920       4        4        4
2920  2921       8        8        8
2921  2922      11       11       11
2922  2923      10       10       10
2923  2924      14       14       14

[2924 rows x 4 columns]