In [95]:
import requests
import json
import pandas as pd
import time
from dateutil.parser import parse
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import LabelEncoder

In [154]:
apikey = 'X1o3cmgN7nsBDsInu4km3XtlPD051oPC'
nickname = '포뇨의브루스'
wordType = 'matche'
main_url = 'https://api.neople.co.kr/cy/'
player_url = 'https://api.neople.co.kr/cy/players/'
matches_url = 'https://api.neople.co.kr/cy/matches/'
api = main_url+'players?nickname='+nickname+'&wordType='+wordType+'&apikey='+apikey
playerdata = requests.get(api)
playerId = playerdata.json()['rows'][0]['playerId']
train = pd.read_csv('X_train.csv')
X_train = train
X_train.drop(['Unnamed: 0'], axis = 1, inplace = True)
y_train = pd.read_csv('y_train.csv')
y_train.drop(['Unnamed: 0'], axis = 1, inplace = True)

In [82]:
# 함수 정리
def get_playerid(nickname):#플레이어 고유 id를 구하는 함수
    wordType = 'matche'
    main_url = 'https://api.neople.co.kr/cy/'
    player_url = 'https://api.neople.co.kr/cy/players/'
    matches_url = 'https://api.neople.co.kr/cy/matches/'
    api = main_url+'players?nickname='+nickname+'&wordType='+wordType+'&apikey='+apikey
    playerdata = requests.get(api)
    playerId = playerdata.json()['rows'][0]['playerId']
    return playerId

#매치 id 가져오기
def get_matches(playerId):
    matchids = []
    gameTypeId = 'rating'
    #검색 시작일
    startDate='2022-01-01'
    endDate='2022-03-30'
    limit = 1000
    cc = player_url+playerId+'/matches?gameTypeId='+gameTypeId+'&apikey='+apikey+'&startDate='+startDate+'&endDate='+endDate
    playdata = requests.get(cc)
    playdata_info= playdata.json()
    while True:
        try:
            for matche in playdata_info['matches']['rows']:
                matchids.append(matche['matchId'])
            next = playdata_info['matches']['next']
            cc_next = player_url+playerId+'/matches?gameTypeId='+gameTypeId+'&apikey='+apikey+'&startDate='+startDate+'&endDate='+endDate+'&next='+next    
            playdata = requests.get(cc_next)
            playdata_info= playdata.json()
            time.sleep(0.5)
        except:
            break
    return matchids


def win_and_lose(matchId):#매치 id를 들고와서 승리팀 조합과,패배팀 조합으로 나눠줌
    api3=matches_url+matchId+'?&apikey='+apikey
    game = requests.get(api3)
    lose_team = []
    win_team = []
    lose_ch = []
    win_ch = []
    try:
        if game.json()['teams'][0]['result'] == 'lose':
            for lose_player in game.json()['teams'][0]['players']:
                lose_team.append(lose_player)
            for win_player in game.json()['teams'][1]['players']:
                win_team.append(win_player)
        elif game.json()['teams'][0]['result'] == 'win':
            for lose_player in game.json()['teams'][1]['players']:
                lose_team.append(lose_player)
            for win_player in game.json()['teams'][0]['players']:
                win_team.append(win_player)
        lose_ch =[]
        win_ch = []
        for i in range(0,10):
            if game.json()['players'][i]['playerId'] in lose_team:
                lose_ch.append(game.json()['players'][i]['playInfo']['characterName'])
            elif game.json()['players'][i]['playerId'] in win_team:
                win_ch.append(game.json()['players'][i]['playInfo']['characterName'])
    except:pass
    return win_ch,lose_ch

In [140]:
playerId = get_playerid('홍유람')
matchids = get_matches(playerId)

In [141]:
win = []
lose = []
for matchid in matchids:
    winer_team,loser_team = win_and_lose(matchid)
    time.sleep(0.3)
    win.append(winer_team)
    lose.append(loser_team)

In [142]:
test = pd.DataFrame(win,columns=['c1','c2','c3','c4','c5'])
test['win']=1
test2 = pd.DataFrame(lose,columns=['c1','c2','c3','c4','c5'])
test2['win']=0
test3 = pd.concat([test,test2],join='inner')
test3 = test3.reset_index(drop=True, inplace=False)

test3 = test3.replace('로라스',1).replace('휴톤',2).replace('루이스',3).replace('타라',4).replace('트리비아',5).replace('카인',6).replace('레나',7).replace('드렉슬러',8).replace('도일',9).replace('토마스',10).replace('나이오비',11).replace('시바',12).replace('웨슬리',13).replace('스텔라',14).replace('앨리셔',15).replace('클레어',16).replace('다이무스',17).replace('이글',18).replace('마를렌',19).replace('샬럿',20).replace('윌라드',21).replace('레이튼',22).replace('미쉘',23).replace('린',24).replace('빅터',25).replace('카를로스',26).replace('호타루',27).replace('트릭시',28).replace('히카르도',29).replace('까미유',30).replace('자네트',31).replace('피터',32).replace('아이작',33).replace('레베카',34).replace('엘리',35).replace('마틴',36).replace('브루스',37).replace('미아',38).replace('드니스',39).replace('제레온',40).replace('루시',41).replace('티엔',42).replace('하랑',43).replace('제이',44).replace('벨져',45).replace('리첼',46).replace('리사',47).replace('릭',48).replace('제키엘',49).replace('탄야',50).replace('캐럴',51).replace('라이샌더',52).replace('디아나',53).replace('클리브',54).replace('헬레나',55).replace('에바',56).replace('론',57).replace('레오노르',58).replace('시드니',59).replace('테이',60).replace('티모시',61).replace('엘프리데',62).replace('티샤',63).replace('카로슈',64).replace('라이언',65).replace('파수꾼 A',66).replace('에밀리',67).replace('플로리안',68).replace('케니스',69).replace('이사벨',70).replace('헤나투',71).replace('루드빅',72).replace('멜빈',73)
#라이샌더뒤로 루드빅을 넣어서 하나씩 밀어야함(임시)
test3 = test3.fillna(0)
#탈주자는 0으로 처리

In [143]:
test3

     c1  c2  c3  c4    c5  win
0    69  31   9  41  21.0    1
1    53  66   8   2  69.0    1
2    43  22  33  48  68.0    1
3    53  70  25  10  58.0    1
4    43  40  49  11   3.0    1
..   ..  ..  ..  ..   ...  ...
265  68  59   8  29  55.0    0
266   5  17  35  27  24.0    0
267  29  62  36  53  14.0    0
268  24  27  73  37  35.0    0
269   4  22  66  42  13.0    0

[270 rows x 6 columns]

In [144]:
X_test = test3.drop('win',axis=1)
y_test = test3.win

In [147]:
import lightgbm as lgb

lgb_clf = lgb.LGBMClassifier(max_depth = 10,min_child_samples=60,subsample=0.8)
lgb_clf.fit(X_train, y_train)
y_pred = lgb_clf.predict(X_test)

C:\ProgramData\Anaconda3\envs\bigdata0809\lib\site-packages\sklearn\preprocessing\_label.py:98: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\ProgramData\Anaconda3\envs\bigdata0809\lib\site-packages\sklearn\preprocessing\_label.py:133: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [148]:
accuracy_score(y_test,y_pred)

0.5407407407407407

In [150]:
X_train = pd.concat([X_train,X_test],join='inner')
X_train = X_train.reset_index(drop=True, inplace=False)
y_train = pd.concat([y_train,y_test],join='inner')
y_train = y_train.reset_index(drop=True, inplace=False)
X_train.to_csv('X_train.csv')
y_train.to_csv('y_train.csv')

In [155]:
y_test

0      1
1      1
2      1
3      1
4      1
      ..
265    0
266    0
267    0
268    0
269    0
Name: win, Length: 270, dtype: int64

In [156]:
y_train

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, ...]

[938 rows x 0 columns]